mixin menu(text, img=" ", href="#")
  li.menu-item
    a.menu-link(href= href)
      span.menu-svg 
        if img
          case img
            when "home"
              include ../../.././dist/images/home/icons/home.pug
            when "trend"
              include ../../.././dist/images/home/icons/trending.pug
            when "explore"
              include ../../.././dist/images/home/icons/explore.pug
            when "playlist"
              include ../../.././dist/images/home/icons/playlist.pug
            when "sub"
              include ../../.././dist/images/home/icons/sub.pug
            when "dash"
              include ../../.././dist/images/home/icons/dash.pug
            when "ep"
              include ../../.././dist/images/home/icons/sub.pug
            when "sub"
              include ../../.././dist/images/home/icons/sub.pug
            when "team"
              include ../../.././dist/images/home/icons/sub.pug
            when "subs"
              include ../../.././dist/images/home/icons/subs.pug
            when "lead"
              include ../../.././dist/images/home/icons/lead.pug
      span.menu-text= text 
mixin host(name=" ", img)
  .popular-hosts-list
    img(src= img, alt="avata").popular-hosts-list-avata
    span.popular-hosts-list-name= name
mixin new(img1, img2, name, inf, rate, date, imgmain, span1, span2, span3, time1, time2)
  .news
    .news-top 
      .news-top-box
        .news-top-img 
          img(srcSet= img1, alt="avata").news-top-img-main
          img(srcSet= img2, alt="icon").news-top-img-no
        .news-top-text 
          .news-top-text-name 
            .news-top-text-name-1
              span.news-top-text-name-1-name= name
              span.news-top-text-name-1-inf= inf
            .news-top-text-name-2
              if rate != " "
                img(srcSet = rate, alt="icon")    
          .news-top-text-date= date
      .news-top-more
        img(srcSet=".././images/home/more.png 2x", alt="icon")
    .news-content 
      img.news-content-img(srcSet=imgmain, alt="music")
      .news-content-more 
        span.more-1= span1
        span.more-2= span2
        .more-3 
          .more-3-date
            img(srcSet=".././images/home/time-cr.png 2x", alt="icon").more-3-date-img
            span.more-3-date-text= time1
          .more-3-time
            img(srcSet=".././images/home/timer.png 2x", alt="icon").more-3-time-img
            span.more-3-time-text= time2
        span.more-4= span3
        img(srcSet=".././images/home/share.png 2x", alt="icon").more-5
    .news-footer 
      .news-footer-left
        each value in [".././images/home/heart.png 2x", ".././images/home/magic-star.png 2x", ".././images/home/music.png 2x"]
          img(srcSet= value, alt="icon")
      .news-footer-right
        img(srcSet=".././images/home/play-1.png 2x", alt="icon").news-footer-right-img
        span.news-footer-right-text Play Episode
mixin suggest(name, img, acong, ok)
  .right-1-inf-contain
    .inf
      img(srcSet=img, alt="image").inf-img
      .inf-about
        span.inf-about-name= name 
        span.inf-about-acong= acong
    label(for=ok).fl
      input(type="checkbox" id=ok).fl-input
      span.fl-box Follow
mixin list(img, span1, span2, span3, span4)
  .right-2-list-contain
    img(srcSet= img, alt="icon").right-2-list-img
    .right-2-list-box 
      span.right-2-list-box-1= span1
      span.right-2-list-box-2= span2
      .right-2-list-box-items 
        .right-2-list-box-items-1
          img(srcSet=".././images/home/play-2.png 2x", alt="icon")
          span= span3
        .right-2-list-box-items-1
          img(srcSet=".././images/home/heart.png 2x", alt="icon")
          span= span4
mixin topic(img,  tittle,span)
  .right-3-topic-box 
      img(srcSet= img, alt="image").right-3-topic-box-img 
      .right-3-topic-box-content
        img(srcSet= tittle, alt="tittle").right-3-topic-box-content-1   
        span.right-3-topic-box-content-2= span
mixin podcast(img, title1, title2, title3)
  .podcast-list-card
    .podcast-list-card-title
      .podcast-list-card-title-main 
        span.podcast-list-card-title-main-1= title1
        .podcast-list-card-title-main-2 
          span.podcast-list-card-title-main-2-top= title2
          span.podcast-list-card-title-main-2-bottom= title3
      .podcast-list-card-title-button
        img(srcSet=".././images/trending/icon/play-1.png 2x", alt="icon")
        span Play Now
    img(srcSet= img, alt="image").podcast-list-card-img
mixin episdes(a)
  .episdes-bottom-contain-frame 
    img(srcSet=".././images/trending/host.png 2x", alt="image").episdes-bottom-contain-frame-img 
    .episdes-bottom-contain-frame-content
      span.span-1 SHOULD I MIGRATE?
      span.span-2 Perspective Podcast 
      .content-time 
        .content-time-view 
          .box-1 
          span.span-3 1.2k Played 
        .content-time-time
          .box-2
          span.span-4 1 week ago
      .content-inf 
        img(srcSet=".././images/trending/1.png", alt="avata").content-inf-img
        .content-inf-content
          .content-inf-content-name Thomas L. Fletcher
          .content-inf-content-acong  @thomaslfletcher
        label(for= a).content-inf-heart
          input(type="checkbox" id= a).content-inf-heart-input
          .content-inf-heart-box
      img(src=".././images/trending/icon/share.png", alt="icon").share
mixin explore(title, span)
  a(href="#").explore-bottom-box 
    img(src=".././images/explore/retangle.png", alt="retangle").explore-bottom-box-retangle
    img(src= title, alt="title").explore-bottom-box-top 
    span.explore-bottom-box-bottom= span
mixin playlist(img, heading, date, title)
  .playlist-bottom-box
    .playlist-bottom-img
      img(src= img, alt="image")
    .playlist-bottom-content 
      .playlist-bottom-content-top
        .playlist-bottom-content-top-heading= heading
        span.playlist-bottom-content-top-date= date
      .playlist-bottom-content-mid= title 
      .playlist-bottom-content-bot
        .bot-left 
        .bot-right
mixin togle(name)
  label.checkbox(for=name)
    input.checkbox-input(type="checkbox" id=name name=name)
    .checkbox-box
      .checkbox-box-cr